<div class="container">
  <div class="row">
    <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>
  </div>
  <div class="col-md-6" *ngIf="!(authService.user | async)">
    <input type="text" [(ngModel)]="email" placeholder="email"><br />
    <input type="password" [(ngModel)]="password" placeholder="password">
  </div>
    <button (click)="signup()" [disabled]="!email || !password">
      Signup
    </button>

    <button (click)="login()" [disabled]="!email || !password">
      Login
    </button>

  <button (click)="logout()" *ngIf="authService.user | async">
    Logout
  </button>
</div>