<div class="container">
<div class="row">
  <h1 class="text-center" >Register your Account</h1>
</div>
  <form>
      <div class="col-md-6 form-group">
        <label>Username</label>
          <input class="form-control" type="text" placeholder="Enter Email Address" id="email" [(ngModel)]="email" name="email" required #em="ngModel" />
          <div [hidden]="em.valid || em.pristine" class="alert callout">
            Email is required
          </div>
      </div>
      <div class="col-md-6 form-group">
        <label>Password</label>
          <input class="form-control"  type="password" placeholder="Enter Password" id="password1" [(ngModel)]="password1" name="password1" required #pwd1="ngModel" />
          <div [hidden]="pwd1.valid || pwd1.pristine" class="alert callout">
            Password required
          </div>
      </div>
      <div class="col-md-6 form-group">
        <label>Confirm</label>
          <input class="form-control"  type="password" placeholder="Confirm Password" id="password2" [(ngModel)]="password2" name="password2" required #pwd2="ngModel" />
          <div [hidden]="pwd2.valid || pwd2.pristine" class="alert callout">
            Confirm Password
          </div>
      </div>
    <div *ngIf="passwordFail" class="alert callout">
      Passwords Do Not Match
    </div>
    <div class="col-md-6 form-group">
      <div class="button-group">
        <button type="button" class="btn-success btn" (click)="signUp()">Sign Up</button>
        <button type="button" class="btn btn-default"(click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
  </div>
